/*-----------------@font-face----------------*/

@font-face {
	font-family: 'vectr';
	src: url(data:application/x-font-woff;charset=utf-8;base64,d09GRk9UVE8AAAx8AA0AAAAAEpwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABDRkYgAAABMAAACKcAAA0k3xtTOUZGVE0AAAnYAAAAGgAAABxnKklsR0RFRgAACfQAAAAgAAAAJgAzABJHUE9TAAAKFAAAACAAAAAgbJF0j0dTVUIAAAo0AAAARQAAAFbZJtw0T1MvMgAACnwAAABLAAAAYFAz3DhjbWFwAAAKyAAAAFoAAAFyCV/49mhlYWQAAAskAAAALgAAADb8C+dZaGhlYQAAC1QAAAAeAAAAJAQQ/+RobXR4AAALdAAAABIAAAAWBAAABW1heHAAAAuIAAAABgAAAAYACFAAbmFtZQAAC5AAAADdAAABbg1YifFwb3N0AAAMcAAAAAwAAAAgAAMAAHicVVYLUJTXGf3uvgdXXg0x4oZXH+iYCmaamlECSB1hMjZS0qp1HEFsamKIUMSSNLwKTpRsrGBNq23l0TBj6kyRpu0M7RgeRpLGNmGdxqqZFLYxRmvbgNbHuiz/7Tn/v8tMHedy9r+P73W+c68Sh0OUUq7vP7W9rlaUTZTkhx60hdLsoQccfq/d73WkxcnCJ5O13z8HvG7/s6HDoTqnT15M8Ikk+uTlJJ94fPN9yeLgGXGSJPfLog3lT5VvL68rr92z65m1ubm5phXLlIjaJytkrayRb8mTar94uM/u/a73GW+Vt9pb693jbboTf0dL58lFWt69nJyi9d1t7X6tz19M1Prgq61aX7wQh98Xsqe11Oxswrxq9/u1pJxaouWxNZuB9fWvXdD6xsM38Xnhi5/X+tcdmVqkQvA7deU/tJRVT2L+reS5fSv2tPqdWp74fb7Wfy19LUWL/bNLWs8kZmixXX1O6/DCTVoUdul7WfOIhoEyxnDqFD6Gvvc0rN4d/TNGoxtT+u440KX7gaYrMSR0YZjagiGxD8O15Rjc0xiCbRikzaP1UNXjLmyfLVQ4NAeHzma0mU4DKZeJ9mMc50wJMqQKOcPAVH6Y6DWgd3CmIUVwej3WGTWZRIuiyL7gAIw9+mOgyUZEbptcxREWRHYsZVCNQIFKoiGa2gLU3PgKxgysUblZHozpmFI5xzD/Dvc8WgZU0wdUMAxUzT0FDUCcUAlBWJDgamzMOPozFxwJFiGZyg2HmZhwqAxIkISZGydiiBmNVKzGMNqOn6MlVpx6ZqSN6FOgkt04igkIn8M2Y2oCKIDMGtOYDb9+G3HWvw/0wxKk9E4v6xJSJXBoUxLqtq0dYfejvvcqkGLbSRQn3JmNtAwNWvbEMd7locEzgO9vgCfXdmtxDq+CBRRQXNxsJEwSYVZ7MOveCFqK2whznHiESQoC5X8VFsqRM1f3KqCtfwDqwqx9xxROPN4PA9WguoN8d+y6hAFni3PHc1jCWdfWQWzrChNhsHXn8VAejwqLJy3sR249b/6WVuvjLPqJaxn8m10N1rhyUskpENUZj2+Rxctx7hQCnkk6gQjf7fy31pcfywHh01PLyTIB/dRwg0VSsa1YBwTOiW0AFdABEuokjtR0n86AvaTbQdJNDxGRbi3MK0lsCEyr8cl2jlvoCtmGbOoIarPPz9T+DstMHpzLJi1gZ9ZkOXlgPF0LdCTJssOYPJYhnHQGHytICRZVj3C65grQcCNRX7S7jMW72ZVBQZ4OnG/Rkra5PIWBrtEyb34nFOHnWdSMS2gBffmLaX4nmwJdiLi7gNZeB+qJtVQUHQMqrgJKb7RIJ4p+k4iippAfY38t0E+pAhl7o81qmF1kNesv4UEPfZe9zIEUcSR5jav9+BpEbLOBK0Ts8kBmLBPmOdOILfKbbGaCmhIZ+JSZwJZIKcVmPMh2yiZCX8yYAnTtYcwu3EQrhW3WCA8KkMcIaSItEvvW3BD7duFHQD2sX27ffvKZ9VPFQMergA6C3raMIsbFaqfnxZDJj0TIiL1QyE572iBTWh/AmSepDwGoqqooIiVSMbA71A5wXZG7inxSk2gWIZ9UkIQ5DrFXVx8CKuVeplnWdxEFKTWJQPtwgGQUmWIFo74PPzblBnHdPP0E0jCI++POtrMQgkPLKEGYDXV8QgR9uf2rU6zFGBcHKOU2LyXD1FlTMjpPUDIuAnX0xSTjdczaL6yLSYbOsyRKHMZXkDhwT5x310VbwPXZh0SriY5Em8b99nHkxdNV78EfF7RHhArsaoJkqBGE7SpYxWbkt3z2PjXCiSYXe49EJcPe3RiVDMdL16lgWOesRlZtbFXnriNApLGL2xRV3t3Eajib/ojRcbXK6j1xrN9i9R5QqiXOYt8I7yObzlsCpsOj6D35NlRIjz6712yhQkpdvZbP+XayhW6d9jqpt+ovOGFxHRLIjg5/40tITG8xEOk504t8h174iLSupDifxZZ78rbfWokLKNNaJAqqp2fYcCSGjhzFFWyjT7Md9C7h2ByC70bpd6iYS0k9UMRBapskdOTXA+0DgRzDw4w8P4wwlv/tT/C30qvlvl/g/p937JaW+PdK3VqyLsGM98ud8OeKM13LAq+Hsf1rO54U1/4b4n0mNq3PHj3KWCMjvK7N5PESlJ690S6Q7oYoUmgUuLIdzjcP+Xk9rvRHaS4bcbkKSy0DWRiGee2ifUTor1wsMwn/imUB/cD7mbeKoowLo1Pr2QAJbAX2g3goO8X9flNyEGfF1+O1rOttR7kcvN3wD12tWySqSVpaISOTt99yW80Cv5Fqw3SpBVewgYDw9GCX96DaUk69KxihH12mTjEHvbxlI2w1jfbEw+UMlxfFUDfV+vlkqxNQdS7Z5iKCbs1W4JtRDNGLkA4Gb3sKkemDKURalzeYnQUjM4VjHsZgaP3Pbxpa5j/4xlxxxvwv8T1n1jOuMZc475PN6O3WwNz3pQ8kxtYjlga++WQYN6q9AKlVCwIkE7pK1fDdx0eQ4oPGNplHraLeNfMSz62k8iFFtmUbLOUTGwumTuJZZAuSsIW8Jiaep96jr+05XZbei725AZKoV/BqP9T0CMqyaMkP8BbdiYspuQ05umz2AO+6yeSHsPJGqg/PQsm8uQv0W7kVwtYMnQmu/BitV9yPBeFbSEbQA0I459nc1pQODZZxeQ/Oa2GJJuYfMs/ayrMy/nMIxlrP4az+I3TgBXD/1dNY8N7NAYpmPp9BY2kYPngTFXJCJWeyDtLvewfiYXEMt5eTvrhqb0YH82fsG7rG8fc3qC9L12C/6wtIwygOnjkzAUo+DlFghJif1/YTPDzujpvi0bCYc1b0Tu6gqDJOniK2sI+n1vBCcdUOWMZMVyynop5VzH0rTafXHSTNB6ew/95HjAzy6FiV5Yn3O/7vf6jOETkcOuyO998XWpLi98b9DxXbQYYAeJxjYGBgZACCM7aLzoPos2XBfjAaAEgDBkQAAHicY2BkYGDgA2I5BhBgAkJGIATR7ECaBSzGAAAGqwBGAAEAAAAKABwAHgABbGF0bgAIAAQAAAAA//8AAAAAAAB4nC2JQQ6AIBADZ2UxhBd44gV+ipMxIZ78Pxbk0EzbwYBM4cRafR8SrofeGcbafVV9/EvOJ5NyLLoSCWJkVze2D3CtBg0AAAB4nGNgZvzCOIGBlYGD0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGAQYECEhzTWFwYAj7wMD44P8DBj3GBwwKDUA1cAUKQMgKAFcpDI0AeJxjYGBgZoBgGQZGBhDIAfIYwXwWhgAgLQCEzGCZMIZkhlSGIoaSDwz//2MT+b/m/8L/8/5P+T9RgB1qGgpgZGPAJkwFwITMYYG6FwrYGFhpYid5AACtTxNKAAB4nGNgZGBgAOI7clrT4/ltvjJwMzGAwNmyYD8E/f8BEwPjAyCXgwEsDQAV+wn+AAB4nGNgZGBgfPD/AYMeEwMDwz8GIAkUQQHMAG3nA/YAAHicY2JgYGBiYGBlQAEAALEACgAAAABQAAAIAAB4nG2OPW7CQBSEP4NNlARRpKBeUkayZS+ioUzhA1DQI7SykJAtLYZzpEqVKsfgAByAEzE2K6UIK63me6N5P8CYbyK6F5GouvOAJ94DD5lRB46V+Qmc8Mo58EjVVckofpbz0nd1PGDCW+Ahn3wEjpX5Cpww5TfwSP6FE44tLR5ObttKVnIqjuzZdO7KVcf9RlDS6La2V6+Ew2DJyKVL/b9J99qyIGWub5UpRJRN3ZaNr5yxWW6Wpt8otYt0ntq8UOT/PWs5ngO7fr/RpG4na+cPu6Y2RZY/6LoBtvAytQAAAHicY2BmwAsAAH0ABA==) format('woff'),
		 url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAAPAIAAAwBwRkZUTWcqSWwAAAg8AAAAHEdERUYANwAWAAAHnAAAACZHUE9TbJF0jwAACBwAAAAgR1NVQtku3DgAAAfEAAAAVk9TLzJQEdwTAAABeAAAAFZjbWFwDWf8AwAAAfAAAAFyZ2FzcP//AAMAAAeUAAAACGdseWaNMwbKAAADfAAAAmBoZWFk/AvnWQAAAPwAAAA2aGhlYQQQ/+YAAAE0AAAAJGhtdHgEqgAFAAAB0AAAAB5sb2NhBE4DNgAAA2QAAAAWbWF4cABTAMsAAAFYAAAAIG5hbWUNWInxAAAF3AAAAW5wb3N0DzBnmgAAB0wAAABIAAEAAAABAACmhwPrXw889QALAgAAAAAAzXZTTgAAAADNdlNOAAD/4AIAAeAAAAAIAAIAAAAAAAAAAQAAAeD/4AAuAgAAAP4AAgAAAQAAAAAAAAAAAAAAAAAAAAUAAQAAAAoAyAAHAAAAAAACAAAAAQABAAAAQAAAAAAAAAABAfQBkAAFAAgBTAFmAAAARwFMAWYAAAD1ABkAhAAAAgAFAwAAAAAAAAAAAAEQAAAAAAAAAAAAAABQZkVkAEAAVvAAAeD/4AAuAeAAIIAAAAEAAAAAAAACAAAAAAAAAACqAAACAAAFAAAAAAAAAAAAAAAAAAAAAAAAAAMAAAADAAAAHAABAAAAAABsAAMAAQAAABwABABQAAAAEAAQAAMAAAAAAFYAYwBlAHIAdPAA//8AAAAAAFYAYwBlAHIAdPAA//8AAP+u/6P/oP+W/5MQCQABAAAAAAAAAAAAAAAAAAAAAAAAAQYAAAEAAAAAAAAAAQIAAAACAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAYABQAAAAAAAAAAAAAAAAgABwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPoBAgEKARIBGgEiATAAAAAHAAUAVgH7AWoADgAxADwAZACCAJ0AxwAANzUjFTMHJzM1IxUzFzM3Fi4BIyIOAhUUHgIzMj4CNyMUDgIjIi4CNTM8ATU0BzQ+AjMyHgEUFTcjLgEjIg4CFRQeAjMyNjcjDgMiLgI0PgIzMh4CFTM1IxccAQ4BIyImPQEzNSM1BxUjFTMVFB4CMzI2PQEjNyIOAgc1IxUzFSMVMzUjNTQ+AjMyFhc1JiczFjMyNjQmIyIHIzUjFSMmIyIGFBYzMjczDgEVMzQ2NxUzNR4BFTM0JpI4DhoaDz0JKScqXQwSDQwTDgcGDRQOCA8NCQIhAQMGBAYHBAFCQgEDBgYGBgNvAQMNCAwQCwUGDRMOExcBHAEBAwUKBgMCAQMGBgUFAwIcGlkBAwEEAhcXIwwMAwcNCw4RE2AFCQYFASsKCjoNBAYJBQMEAgLPMgMIBAcHBAgDSyBLAwgEBwcECAMyFBkOIBggGCAOGcoWFlNTFhZxcR4OCQgOFAwMFA4JBAcMCQEEAwMFBwkEAgMCDAECCAgGBQgIAx8HBwkOEwoNFA8JEhQBBgYEBgkLCwwKBwQGBwMnSgIEAwIGBTUVGw0OFTIIDAoFDg8LRQQHCAUVFT0VFRcHCwgEAQEgApIHBwkHBwwMBwcJBwcLKRgZJwYFBQYnGRgpAAEAAAAAAAAAAAAAAAAxAAABAAAAAAAAAAAAAAAAMQAAAQAAAAAAAAAAAAAAADEAAAEAAAAAAAAAAAAAAAAxAAABAAAAAAAAAAAAAAAAMQAAAQAA/+ACAAHgAAIAABEBIQIA/gAB4P4AAAAAAAAADACWAAEAAAAAAAEABQAMAAEAAAAAAAIABwAiAAEAAAAAAAMAIQBuAAEAAAAAAAQABQCcAAEAAAAAAAUACwC6AAEAAAAAAAYABQDSAAMAAQQJAAEACgAAAAMAAQQJAAIADgASAAMAAQQJAAMAQgAqAAMAAQQJAAQACgCQAAMAAQQJAAUAFgCiAAMAAQQJAAYACgDGAHYAZQBjAHQAcgAAdmVjdHIAAFIAZQBnAHUAbABhAHIAAFJlZ3VsYXIAAEYAbwBuAHQARgBvAHIAZwBlACAAMgAuADAAIAA6ACAAdgBlAGMAdAByACAAOgAgADIANQAtADMALQAyADAAMQAzAABGb250Rm9yZ2UgMi4wIDogdmVjdHIgOiAyNS0zLTIwMTMAAHYAZQBjAHQAcgAAdmVjdHIAAFYAZQByAHMAaQBvAG4AIAAxAC4AMAAAVmVyc2lvbiAxLjAAAHYAZQBjAHQAcgAAdmVjdHIAAAAAAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAKAAAAAQACAQIAOQBIAEYAVwBVAQMJVl9lX2NfdF9yB3VuaUYwMDAAAAAB//8AAgABAAAADgAAAB4AAAAAAAIAAgADAAMAAgAEAAkAAQAEAAAAAgAAAAAAAQAAAAoAHgAsAAFsYXRuAAgABAAAAAD//wABAAAAAWxpZ2EACAAAAAEAAAABAAQABAAAAAEACAABABgAAQAIAAEABAADAAUABQAGAAcACAABAAEABAAAAAEAAAAKABwAHgABbGF0bgAIAAQAAAAA//8AAAAAAAAAAAABAAAAAMw9os8AAAAAzXZTTgAAAADNdlNO) format('truetype');
	font-weight: normal;
	font-style: normal;
}

.logo {
	font-family: 'vectr';
		speak: none;
	/* Enable Ligatures */
	-webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/*-----------------our styles----------------*/

html {
	font: 100%/1em Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: #2ECC71;
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

a {
	color: white;
	text-decoration: none;
	-webkit-transition: all 0.3s ease-out;      
	-moz-transition: all 0.3s ease-out;        
	-o-transition: all 0.3s ease-out;  
	transition: all 0.3s ease-out; 
}

h1, h2 {
	margin: 0;
}

h1 a {
	color: white;
	font-size: 15em;
}

h2 a {
	color: #27AE60;
	font-size: 5em;
}

h2 a:hover {
	color: #C0392B;
}

h3 a {
	color: #2C3E50;
	font-size: 5em;
}

